{% extends "base.html" %}
{% block title %}Book Information{% endblock %}
{% block content %}
<form action="#" method="post">
	<p> &nbsp;&nbsp;&nbsp;Choose Source of Data:</p>
  <p> &nbsp;&nbsp;&nbsp;<input type="submit" name="submit_button" value="Google Books service">
  &nbsp;<input type="submit" name="submit_button" value="wikipedia.org">
  &nbsp;<input type="submit" name="submit_button" value="OpenLibrary.org">
  &nbsp;<input type="submit" name="submit_button" value="Google Books API"></p>
</form>
{% endblock %}
